<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login TursArg</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-0">
                    <div class="container">
                        <div class="logo ">
                            <img src="/assets/img/LogoTursArg.png" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto pt-2 pb-0">
                                <h3 class="login-heading mb-4">Inicia Sesion</h3>
                                <form>
                                    <div class="form-label-group">
                                        <h5>Email</h5>
                                        <input style="padding-left: 1rem;" type="email" id="inputEmail"
                                            class="form-control" required autofocus>
                                        <label for="inputEmail"></label>
                                    </div>

                                    <div class="form-label-group">
                                        <h5>Contraseña</h5>
                                        <input style="padding-left: 1rem;" type="password" id="inputPassword"
                                            class="form-control" required autofocus>
                                        <label for="inputPassword"></label>
                                    </div>
                                    <div class="text-right">
                                        <a href="">¿Olvidaste la contraseña?</a>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Recuerda la
                                            contraseña</label>
                                    </div>
                                    <button
                                        class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2 pb-2"
                                        type="submit">Iniciar Sesion</button>
                                    <div class="text-center py-2">
                                        <a target="_blank" href="https://www.google.com">Registrate aqui</a>
                                        <br>
                                    </div>

                                    <div class="text-center">
                                        <a target="_blank" href="https://www.google.com">Pagina Principal</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>