/* You can add global styles to this file, and also import other style files */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', sans-serif;
}

body h2 {
  color: rgb(53, 129, 228);
}

header h1 {
  color: rgb(114, 151, 231);
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color_de_fondo {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 211, 254, 1) 0%, rgba(67, 67, 244, 1) 100%);
}

.gradient-navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 211, 254, 1) 0%, rgba(67, 67, 244, 1) 100%);


}

/* Estilos login */
