<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="container py-5">
            <H1 style="font-weight: 550;" class="abs-center text-center">PANEL DE ADMINISTRADOR TURSARG</H1>
            <div class="inner-content py-4" id="contenido">
                <!--Contenido-->
                <div class="container justify-content-center">
                    <div class="row justify-content-center">
                        <div class="card">
                            <a>
                                <i class="fas  fa-users-cog"></i>
                                <br>Usuarios</a>
                        </div>
                        <div class="card">
                            <a routerLink="/Ciudades">
                                <i class="fas  fa-search-location"></i>
                                <br>Ciudades</a>
                        </div>
                        <div class="card">
                            <a routerLink="/ConsultasDash">
                                <i class="fas   fa-question"></i>
                                <br>Consultas</a>
                        </div>
                        <div class="card">
                            <a>
                                <i class="fas   fa-map"></i>
                                <br>Atractivos</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>