<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Nosotros</h4>
                    <ul>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">¿Que hacemos?</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a target="_blank" href="#">FAQ</a></li>
                        <li><a target="_blank" href="https://www.entrerios.tur.ar">Turismo Entre Rios</a></li>
                        <li><a target="_blank" href="https://www.entrerios.gov.ar/portal/">Gobierno Entre Rios</a>
                        </li>
                        <li><a target="_blank" href="https://www.argentina.gob.ar/">Argentina.gob.ar</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Utiles</h4>
                    <ul>
                        <li><a routerLink="/Contacto" target="_blank" href="#">Contacto</a></li>
                        <li><a routerLink="/registerUser" target="_blank" href="#">Registrarse</a></li>
                        <li><a routerLink="/login" target="_blank" href="#">Iniciar Sesion</a></li>
                        <li><a routerLink="/Foro" target="_blank" href="#">Foro</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>SIguenos</h4>
                    <div class="social-links">
                        <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>